* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
.container {
  min-height: 120vh;
  padding-bottom: 50px;
  margin: 0 auto;
  position: relative;
}
.bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(45%);
  background-image: url("https://wallpapers.com/images/hd/enchanting-forest-trail-4xzor1jwhwnndmfr.jpg");
  background-size: cover;
  background-position: center;
}
.navBar {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 15vh;
}
.navBar ul {
  display: flex;
  align-items: center;
  
}
.navBar ul li {
  padding: 0 25px;
}
.navBar ul li a {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-family: 'Times New Roman', Times, serif;
}
.navBar .logo a {
  font-size: 1rem;
  color: #fff;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.phuket {
  color: #fff;
  padding: 25px;
  
}
.card {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.card h2 {
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.card .box1{
  width: 90%;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}
.box1 {
  background-image: url("https://scontent.fkkc2-1.fna.fbcdn.net/v/t1.15752-9/364412102_269321575851150_2451248852815339804_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeEFx0CnyfLX_3sDAM6RbHrSWxMFrZRzxXlbEwWtlHPFeSTV-mVzhxU420i9oAaQnkmDC_d7bHxG02XmRWlnxHxn&_nc_ohc=wOtKWVdtHjgAX_JGFiV&_nc_ht=scontent.fkkc2-1.fna&oh=03_AdRvy0s_jl5lzmUJTYzRcZVQ0HlU8KpIE1YuxA091MO05g&oe=65C76F88");
}

.phuket h2 {
  font-size: 2rem;
  letter-spacing: 2.8px;
}
.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.txt h1 {
  font-size: 7rem;
}
.phuket p {
  opacity: 0.4;
}
.tnx h2 i {
  color: #fd7e13;
}
.card div {
  transition: 0.5s;
}
.card div:hover {
  transition: 0.3s;
  transform: translateY(-10px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}